body {
    background-color: lightgray;
}

h1 {
    padding: 5px;
    border: solid black 3px;
    text-align: center;
}

.winner {
    color: red;
    border-color: lightgray;
    
}

.box {
    border: black solid 1px;
}

.containerLeft {
    float: left;
    margin-left: 20%;
}

.avatarSelect {
    float: right;
    margin-right: 20%;
}

.wrapper {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin-bottom: 5px;
}

.cell{
    border: white solid 2px ;
}

.avatars {
    border: white solid 2px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    margin: 10px auto;
}

.resetBtn {
    display: inline-block;
}
.heading {
    display: inline;
    padding: 10px;
}

.cross{
    background-image: url(./avatars/cross.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.circle{
    background-image: url(./avatars/circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-bottom: 10px; */
    opacity: 1;
}

.avatar1{
    background-image: url(./avatars/img1.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}

.avatar2{
    background-image: url(./avatars/img2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar3{
    background-image: url(./avatars/img3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar4{
    background-image: url(./avatars/img4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar5{
    background-image: url(./avatars/img5.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar6{
    background-image: url(./avatars/img6.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar7{
    background-image: url(./avatars/img7.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar8{
    background-image: url(./avatars/img8.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar9{
    background-image: url(./avatars/img9.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}

