  
  @media only screen and (min-width: 600px) {
    body {
      padding: 5px 20%;
      background-color: lightgray;
    }
  }
  
body {
    background-color: lightgray;
}

h1 {
    padding: 5px;
    border: solid black 3px;
    text-align: center;
}

p {
    text-align: center;
}

.firstPage {
    display: block;
}

.secondPage{
    display: block;
}

.startBtn {
    inline-size: -webkit-fill-available;
    background-color: green;
    border: 2px black solid;
    margin-bottom: 5px;
}

.resetEntries {
    inline-size: -webkit-fill-available;
    background-color: grey;
    border: 2px black solid;
    margin-bottom: 5px;
}

.inputs {
    margin: 0 auto;
    inline-size: fit-content;
}

.currentPlayer {
    margin: 0 auto;
    inline-size: fit-content;
}

.displayScore {
    margin: 0 auto;
    inline-size: fit-content;
}

.avatarController {
    margin: 25px auto;
    inline-size: fit-content;
}

.winner {
    color: red;
    border-color: lightgray;
    
}

.box {
    border: black solid 1px;
}

.containerLeft {
    margin: 0 auto;
    inline-size: fit-content;
}

.player1NameInput {
    inline-size: -webkit-fill-available;
}

.player2NameInput {
    inline-size: -webkit-fill-available;
}

.numberGames {
        inline-size: -webkit-fill-available;
}

.submitGames {
    inline-size: -webkit-fill-available;
    background-color: #e3d5e3;
}

.resetBtn {
    inline-size: -webkit-fill-available;
    background-color: grey;
    border: 2px black solid;
    margin-bottom: 5px;
}

.homeBtn {
    inline-size: -webkit-fill-available;
    background-color: grey;
    border: 2px black solid;
    margin-bottom: 5px;
}

.displayGameLeft {
    margin: 0 auto;
    inline-size: fit-content;
}

.wrapper {
    border: white solid 2px ;
    display: grid;
    /* background-color: white; */
    grid-template-columns: repeat(3, 100px);
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(3, 100px);
    /* margin-bottom: 5px; */
    height: 300px;
    width: 300px;
    margin: 10px auto;
}

.cell{
    border: white solid 2px ;
}

.personaliseAvatar {
    inline-size: -webkit-fill-available;
    background-color: grey;
    border: 2px black solid;
    margin-bottom: 5px;
}

#snap1 {
    inline-size: -webkit-fill-available;
    background-color: grey;
    border: 2px black solid;
    margin-bottom: 5px;
}

#snap2 {
    inline-size: -webkit-fill-available;
    background-color: grey;
    border: 2px black solid;
    margin-bottom: 5px;
}

.avatars {
    border: white solid 2px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    margin: 10px auto;
    /* background-color: white; */
}

.resetBtn {
    display: inline-block;
}
.heading {
    margin: 0 auto;
    inline-size: fit-content
}

.cross{
    background-image: url(./avatars/cross.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.circle{
    background-image: url(./avatars/circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-bottom: 10px; */
    opacity: 1;
}

.avatar1{
    background-image: url(./avatars/img1.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}

.avatar2{
    background-image: url(./avatars/img2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar3{
    background-image: url(./avatars/img3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar4{
    background-image: url(./avatars/img4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar5{
    background-image: url(./avatars/img5.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar6{
    background-image: url(./avatars/img6.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar7{
    background-image: url(./avatars/img7.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar8{
    background-image: url(./avatars/img8.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
.avatar9{
    background-image: url(./avatars/img9.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}

